.title {
  width: 100%;
  padding: 2%;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgba(102, 51, 153, 1),
    rgba(137, 196, 244, 1)
  );
}

.card {
  padding: 40px 40px;
  width: 100%;
}

.btn1 {
  background-color: rgba(137, 196, 244, 1);
  margin: 10px 10px;
  color: white;
}

.btn {
  margin: 10px 10px;
}

.card-body {
  background-color: grey;
  list-style: none;
  color: black;
  display: flex;
  text-decoration: none;
}

#fiveDay-container {
  background-color: rgba(137, 196, 244, 1);
}

.UV-index {
  background-color: red;
  color: white;
  width: 15%;
}
