.title {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgba(102, 51, 153, 1),
    rgba(137, 196, 244, 1)
  );
}

.card {
  padding: 10px 10px;
}

.btn1 {
  background-color: rgba(137, 196, 244, 1);
  margin: 10px 10px;
  color: white;
}

.btn {
  margin: 10px 10px;
}

.card-body {
  background-color: grey;
  list-style: none;
  color: black;
}

.uv-index {
}

.city {
  font-size: large;
}
